.main{
    text-align: center;
}

.ratingAndGenres{
    display: inline-block;
    margin:4vw 0 15vw 0;
    width:80vw;
}
.list{
    list-style: none;
    padding: 0;
    display: inline-block;
}
.ratingContainer{
    text-align: left;
    font-size: 25px;
}
.genreContainer{
    text-align: left;
    font-size: 25px;
}
.trail{
    width:90vw;
    height: 25vh;
}
.description{
    display: inline-block;
    width:90vw;
    border:solid;
    font-size: 2vh;
    line-height: 2vh;
    margin-bottom: 10vh;
}